{% extends "base.html" %}
{% block content %}
<div class="container py-5">
    <h2 class="mb-4 fw-bold text-center">Контакты</h2>
    <hr class="featurette-divider">

    <div class="row mb-5">
        <div class="col-md-6">
            <h4 class="fw-semibold">О нас</h4>
            <p class="text-muted">
                Предлагаем вашему вниманию цветочную лавку NelAng! <br>
                ✅ Время работы: 9:00 - 21:00<br>
                ✅ Доставка цветов<br>
                ✅ Оплату можно произвести наличными, безналичным способом, по QR-коду или удалённо по ссылке (возможна оплата переводом онлайн)<br>
                ✅ Мы с уверенностью можем гарантировать свежесть цветов:<br>
                1. Поставка цветка каждую неделю<br>
                2. Весь цветок хранится в камерах при нужной температуре 4°-6°<br>
                ✅ Индивидуальный подход к каждому заказу.<br>
                ✅ Соберём букет или композицию под любой бюджет!
            </p>
        </div>
        <div class="col-md-6">
            <h4 class="fw-semibold">Наши филиалы</h4>
            <ul class="list-unstyled">
                <li class="mb-3">
                    <strong>Филиал пгт Ачит</strong><br>
                    Адрес: пгт Ачит, ул. Кривозубова, 22<br>
                    Телефон: +7 (903) 084-98-33<br>
                    Время работы: 9:00–21:00
                </li>
                <li class="mb-3">
                    <strong>Филиал г. Красноуфимск</strong><br>
                    Адрес: г. Красноуфимск, ул. Куйбышева, 3<br>
                    Телефон: +7 (908) 928-16-45<br>
                    Время работы: 24 часа
                </li>
            </ul>
        </div>
    </div>

    <hr class="featurette-divider">

</div>
{% endblock %}